<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block titre %}{% endblock%}</title>
</head>
<body> <ul style="list-style: none;">
    <li style="display: inline-block; padding: 10px 20px;"><a href="/">acuille</a></li>
    <li style="display: inline-block; padding: 10px 20px;"><a href="/articl/">les articles disponibles</a></li>
   <li style="display: inline-block; padding: 10px 20px;"> <a href="/contact/">contact</a></li>
   <li style="display: inline-block; padding: 10px 20px;"> <a href="/panier/">panier</a></li>
   <li style="display: inline-block; padding: 10px 20px;"> <a href="/categorie/">categorie</a></li>
</ul> 
{%block contenu%}
{% endblock%}

</body></html>